@page "/"

<PageTitle>Laboratorio</PageTitle>

<h1>Laboratorios ABQ</h1>

<div class="alert alert-info">
  <h2 class="alert-heading">Bienvenido al sistema de Laboratorios ABQ</h2>
  <p>Desarrollado por <b>Santiago Castiñeira</b> y <b>Nazareno Montesoro</b></p>
  <hr>
  <p class="mb-0">
    Diseño de Bases de Datos - Prof. Dra. Leticia M. Seijas - Primer Cuatrimestre 2023 - Ing.
    en Computación - FI UNMDP
  </p>
</div>

